{% extends 'base.html' %}
<!-- base.html 템플릿를 기반으로 안에 내용만 바꿔줌-->
{% block content %}

    <div style="border-radius: 1rem; margin: 2rem; text-align: center">
        <h1 style="font-family: 'Lobster', cursive;">
            Hello world List!
        </h1>

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
             <input type="submit" class="btn btn-dark rounded-pill col-2 mt-3" value="POST">
            </div>
        </form>

<!--    서버 return    text 값 가져옴-->
        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
        <h1>
            {{ hello_world.text }}
        </h1>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}