{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
<!--모바일 반응형 css 추가 -->

.container a {
   padding: 0;
   margin: 0, auto;
}


.container div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.container img{
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 1rem;

}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

</style>

<!-- 게시물 글 있으면 보여주기-->
{% if project_list %}
<div class="container">
    {% for project in project_list %}
    <a href="{% url 'projectapp:detail' pk=project.pk %}">
        <div>
            <!-- for문의 article이 card.html 의 article과 같다  -->
            {% include 'snippets/card_project.html' with project=project %}
        </div>
    </a>
    {% endfor %}
</div>
<script src="{% static 'js/magicgrid.js' %}"></script>
{% else %}
<div style="text-align: center">
    <h1>No Articles YET!</h1>
</div>
{% endif %}

<!--페이지네이션 버튼 추가-->
{% include 'snippets/pagination.html' with page_obj=page_obj %}

<div style="text-align:center">
    <a href="{% url 'projectapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3 px-3">
      Create Article
    </a>

</div>


{% endblock %}